html {
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("https://i.pinimg.com/originals/f8/62/f9/f862f9d6e7c98afb8fa09d5e0684516f.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#botw {
  visibility: hidden;
}

#wind-waker-link {
  width: 8%;
  height: 8%;
  margin-top: 510px;
  margin-left: 770px;
}

#bokoblin {
  width: 12%;
  height: 12%;
  margin-top: 507px;
  margin-left: 280px;
}

#wind-waker-aryll {
  width: 2%;
  height: 2%;
  margin-top: 482px;
  margin-left: 120px;
}

#ocarina-link {
  width: 374px;
  height: 531px;
  margin-top: 300px;
  margin-left: 1300px;
}


#navi {
  margin-top: 370px;
  margin-left: 1250px;
}

#twilight-princess-link {
  width: 65%;
  height: 65%;
  margin-top: 200px;
  margin-left: 140px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
